{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!-- Content block -->
{% block content %}  
  <div class="container">
      <div class="row">
            <h1 class="text-center" style="font-family: 'Times New Roman', Times, serif; font-size: 30px;">Top Business Articles</h1>
                <ul>
                    {{ macro.displayArticleList(business)}}
                </ul>
      </div>
      <div class="row">
            <h1 class="text-center" style="font-family: 'Times New Roman', Times, serif; font-size: 30px;">Top Technology Articles</h1>
                <ul>
                    {{ macro.displayArticleList(technology)}}
                </ul>
      </div>
      <div class="row">
            <h1 class="text-center" style="font-family: 'Times New Roman', Times, serif; font-size: 30px;">Top Sports Articles</h1>
                <ul>
                    {{ macro.displayArticleList(sports)}}
                </ul>
      </div>
      <div class="row">
            <h1 class="text-center" style="font-family: 'Times New Roman', Times, serif; font-size: 30px;">Top Entertainment Articles</h1>
                <ul>
                    {{ macro.displayArticleList(entertainment)}}
                </ul>
      </div>
  </div>
  <!--Footer -->
  <div class="container-fluid" style="background-color: transparent">
    <h1 class="text-center" style="font-size: 20px;"><span style="color: rgba(47, 48, 58, 0.44);"> © 2022 </span> <span style="color:#F652DC">Today In Tabs.</span> <span style="color: rgba(47, 48, 58, 0.44);">All rights reserved.</span> </h1>
</div>

{% endblock%}
