{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!-- Content block -->
{% block content %}  
  <div class="container">
      <div class="row">

      </div>
  </div>
  <!--Footer -->
    <div class="container-fluid" style="background-color: transparent">
        <h1 class="text-center"><span style="color: rgba(47, 48, 58, 0.44);"> © 2022 </span> <span style="color:#F652DC">Today In Tabs.</span> <span style="color: rgba(47, 48, 58, 0.44);">All rights reserved.</span> </h1>
    </div>

{% endblock%}
