<div class="container-fluid">
    <div class="row" style="height: 393.96px; color: #2F303A">
        <div class="col">
            <h1>Connect with us</h1>
            <ul>

                <li>
                    LinkedIn:
                </li>
                
                <li>
                    Instagram:
                </li>

                <li>
                    Github:
                </li>

            </ul>
        </div>
        <div class="col">
            <h1>Talk to us</h1>
            <ul>
                <li>
                    Email: atienoobwanda@gmail.com
                </li>
                <li>
                    Phone: +254743068355
                </li>
                
            </ul>
        </div>
    </div>
    <div class="container-fluid" style="height: 92px; color: transparent">
        <h1 class="text-center"><span style="color: rgba(47, 48, 58, 0.44);"> © 2022 </span> <span style="color:F652DC">Today In Tabs.</span> <span style="color: rgba(47, 48, 58, 0.44);">All rights reserved.</span> </h1>
    </div>
</div>