{% extends 'base.html'%}

{% block content %}
   
    <div class="container" style="box-shadow: 0 4px 17px rgba(48, 6, 42, 0.35);">
        <h1>WHOOOPS we can't find that page</h1>
    </div>
<!--Footer -->
<div class="container-fluid" style="background-color: transparent">
    <h1 class="text-center" style="font-size: 20px;"><span style="color: rgba(47, 48, 58, 0.44);"> © 2022 </span> <span style="color:#F652DC">Today In Tabs.</span> <span style="color: rgba(47, 48, 58, 0.44);">All rights reserved.</span> </h1>
</div>
{% endblock %}