<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
    </head>
    <body>
        <!-- Content block -->
        <h3>Technology News</h3> 
        <ul>
            {% for technology_source in technology %}
                 <li> {{technology_source.name}} </li>
            {%  endfor %}
        </ul>
        
    </body>
</html>