{% macro displayArticleList (article_list) %}

    {% for article in article_list %}
    <div class="col-sm-4" style="box-shadow: 0 4px 17px rgba(48, 6, 42, 0.35);
    transition: all 0.3s ease-in-out; margin: 1%; width:35rem; ">
        <div class="card" style="height:340px; width:31rem;">
          <img class="card-img-top" src="{{ article.description }}" alt="{{ article.title }}" class="img-responsive" style="height:120px; width:100%!important;">
                  <div class="card-body">
                  <h5 class="card-title">{{article.title |truncate(100)}}</h5>
                  <p class="card-text">Description:<span style="color:#F652DC"">{{article.image| truncate(100) }}</span> </p>
                  <p class="card-text">Source: {{article.source.name}}</p>
                  <p class="card-text">By: {{article.author}}</p>
                  <p class="card-text">Published on:<span style="color:#F652DC">{{article.date|truncate(12)}}</span></p>
                  <a href="{{article.url}}"  class="card-link text-center" style="color:#F652DC; text-align: center;">Catch up</a>
                </div>
              </div>
    </div>
  

    {% endfor%}
{% endmacro %}

{% macro displaySourceList (source_list) %}
        {% for source in source_list %}
        <div class="col-sm-4" style="box-shadow: 0 4px 17px rgba(48, 6, 42, 0.35);
        transition: all 0.3s ease-in-out; margin: 2%; width: 30rem; "> 
        <div class="card" style="height:130px;">
          <div class="card-body">
            <h5 class="card-title">{{ source.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ source.description |truncate(200)}}</h6>
            <a href="/source/{{source.name}}"  class="card-link text-center" style="color:#F652DC; text-align: center;">view articles</a>
          </div>
        </div>
        </div>
        {% endfor %}    
    
  
{% endmacro %}

{% macro showArticleList (article_list) %}

    {% for article in article_list %}
    <div class="col-sm-4" style="box-shadow: 0 4px 17px rgba(48, 6, 42, 0.35);
    transition: all 0.3s ease-in-out; margin: 2%; width: 30rem; ">
        <div class="card" style="height:280px;">
            <img class="card-img-top" src="{{article.image}}" alt="{{article.title|truncate(10)}}" styles="height:30px">
                <div class="card-body">
                  <h5 class="card-title">{{article.title |truncate(100)}}</h5>
                  <p class="card-text">Source: {{article.source.name}}</p>
                  <p class="card-text">By: {{article.author}}</p>
                  <a href="{{article.url}}"  class="card-link text-center" style="color:#F652DC; text-align: center;">Catch up</a>
                </div>
              </div>
    </div>
  

    {% endfor%}
{% endmacro %}