<div class="navbar navbar-inverse mainNav" role="navigation" style="background-color:#2F303A; border:none ;border-radius:0; box-shadow: 0 4px 17px rgba(48, 6, 42, 0.35);">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">
                Today In Tabs.
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class=" nav navbar-nav">
                <li><a href="/" style="font-weight: bold; color: #F652DC;">Home</a></li>
                <li><a href="/articles" style="font-weight: bold; color: #F652DC;">General Articles</a></li>
            </ul>
        </div>
    </div>
</div>
