{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!-- Content block -->
{% block content %}  
    <div class="container">

        <h2 class="text-center" style="font-family: 'Times New Roman', Times, serif;"> TRUSTED SOURCES</h2>
    
        <div class="row">
            <h3 class="text-center" style="font-family: 'Times New Roman', Times, serif;" >Technology News Sources</h3>
       
            <ul>
                {{ macro.displaySourceList(technology)}}
            </ul>
        </div>
        <div class="row">
            <h3 class="text-center"style="font-family: 'Times New Roman', Times, serif;"> Business News Sources</h3>
                <ul>
                    {{ macro.displaySourceList(business)}}
                </ul>
        </div>
            <div class="row">
                <h3 class="text-center"style="font-family: 'Times New Roman', Times, serif;">Sports News Sources</h3>
   
                <ul>
                    {{ macro.displaySourceList(sports)}}
                </ul>
            </div>
    </div>    

{% endblock%}
